#header
  %h1.title Shag, Marry, Kill
  #poweredby
    %p
      powered by
      %a{href: "http://socialcrunch.com"}
        %img{style: "margin-bottom: -11px", src:"/assets/logowhitetext.png", alt: "SocialCrunch"}
  %h1 Who do you wanna shag?

#content
  -#@kamtodo: add links here
  .block
    %h3.genderheader Men
    .gender
      %img{src: "/assets/male_small.png"}
  .block
    %h3.genderheader Women
    .gender
      %img{src: "/assets/female_small.png"}
  .block
    %h3.genderheader Both
    .gender
      %img{src: "/assets/male_female_small.png"}
