#header
  %h1.title
    = site_name
  #poweredby
    %p
      powered by
      %a{href: "http://socialcrunch.com"}
        %img{style: "margin-bottom: -11px", src:"/assets/logowhitetext.png", alt: "SocialCrunch"}
  %h1
    = "Who do you wanna #{Constants::BANG.titleize}?"

#content
  .block
    %h3.genderheader Men
    .gender
      %a{href: "/prefs?gender_pref=male"}
        %img{src: "/assets/male_small.png"}

  .block
    %h3.genderheader Women
    .gender
      %a{href: "/prefs?gender_pref=female"}
        %img{src: "/assets/female_small.png"}

  .block
    %h3.genderheader Both
    .gender
      %a{href: "/prefs?gender_pref=both"}
        %img{src: "/assets/male_female_small.png"}
