-#Set title
#header
  %h1
    Shag, Marry, Kill
    %br
    Leader Board


#content
  #mostshagged.statlist
    %h2 Most Shagged
    %ul
      %li
        -# @nathantodo: these should be displaying inline-block
        %img{src: "/assets/male_small.png"}
        %span Caption / Description
    %h2 Most Married
    %ul
      %li
        %img{src: "/assets/male_small.png"}
        %span Caption / Description
    %h2 Most Killed
    %ul
      %li
        %img{src: "/assets/male_small.png"}
        %span Caption / Description
