#header
  %h1.title The End

#content
  .block
    %h2.genderheader
      = "View Leaderboard"

    .leaders
      - @questions.each do |question|
        - if question.image
          %div
            %a{href: "/leader_board", onclick: "Analytical.event('viewed leader board');"}
              %img{src: question.image}

    #nextround.blockspacer
      %h3
        %a{href: "/", onclick: "Analytical.event('played next round');"}
          %span Play Next Round!

  .block.blockspacer
    %h2.genderheader
      = "Share"
    %ul.share
      %li
        %a{href: "http://facebook.com/socialcrunch", target: "_blank", onclick: "Analytical.event('shared on facebook');"}
          %img{src: "/assets/facebook.png"}
      %li
        %a{href: "http://twitter.com/socialcrunch", target: "_blank", onclick: "Analytical.event('shared on twitter');"}
          %img{src: "/assets/twitter.png"}
      %li
        %a{href: "https://plus.google.com/117772758368423278117", target: "_blank", onclick: "Analytical.event('shared on Google+');"}
          %img{src: "/assets/googleplus.png"}
  .block
    %h2.genderheader Play SocialCrunch
    .play
      %a{href: "http://socialcrunch.com", target: "_blank", onclick: "Analytical.event('clicked play SocialCrunch');"}
        %img{src: "/assets/logo.jpg"}


#footer.negspacer
  -#%h1 I need more...
  -#%form
    %textarea#message{cols: "30",row: "10"}
      Hey hey,

      Got suggestions for us? Drop us a note. We'll let you know when there are more celebs to hit up on
      = site_name

      Besos,
      SMK
    %br
    %input#email.email{type: "text", value: "enter your email address"}
    %input.submit{type: "submit", value: "submit"}

