%h1
  = ["The End", "Finito", "Thanks for Playing"].sample

#content
  .block
    .leaders
      %a{href: "/leader_board", onclick: "Analytical.event('viewed leader board');"}
        %h1.genderheader
          = "View Leader Board"
          - @questions.each do |question|
            - if question.image
              %div
              
  .block.blockspacer
    #nextround 
      %h1.genderheader
        = "Play Next Round!"
      %a{href: "/", onclick: "Analytical.event('played next round');"}

  .block.blockspacer.more
    %form
      %textarea#message{cols: "30",row: "10"}
        Hey hey,

        Got suggestions for who to bang, marry, or kill? Drop us a note. We'll let you know when there are more celebs to hit up on Bang, Mary, Kill!

        Besos,
        BMK
      %br
      %input#email.email{type: "text", value: "enter your email address"}
      %input.submit{type: "submit", value: "submit"}

  

