%h1
  = ["The End", "Finito", "Thanks for Playing"].sample

#content
  .block
    %h3.genderheader
      = "View Leaderboard"

    .leaders
      - @questions.each do |question|
        - if question.image
          %div
            %a{href: "/leader_board", onclick: "Analytical.event('viewed leader board');"}
              %img{src: question.image}
  .block.blockspacer
    %h3.genderheader
      = "Play Next Round"
    #nextround 
      %a{href: "/", onclick: "Analytical.event('played next round');"}
        %span 
          bang, marry, kill!

  .block.blockspacer.more
    %h3 I need more...
    %form
      %textarea#message{cols: "30",row: "10"}
        Hey hey,

        Got suggestions for us? Drop us a note. We'll let you know when there are more celebs to hit up on Bang, Mary, Kill!

        Besos,
        BMK
      %br
      %input#email.email{type: "text", value: "enter your email address"}
      %input.submit{type: "submit", value: "submit"}

  

