body{
    font-family: PillGothic600mg-Regular, Helvetica, san serif;
}

h1, h2, h3 {
    font-family: PillGothic600mg-Bold, Helvetica, san serif;
    color: #fff;
    -webkit-text-shadow: 3px 3px 4px #000;
    -moz-text-shadow: 3px 3px 4px #000;
    text-shadow: 3px 3px 4px #000;
}



/********* Global Styles ***********/

body {
    background-image : url('/assets/background.jpg');
    background-color: #000;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
}

div.gradientline{
	background-image: url('/assets/sc-line.png');
	background-color: rgba(75, 75, 75, 0.4);
	margin: 2px auto;
	width: 80%;
	height: 1px;
}

#header {
    margin: 15 auto;
}
#header h1.title {
    font-size: 3em;
}

#content {
    text-align: center;
}

.block {
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
}

.block .questionimage img {
    width: 225px;
    height: 225px;
    position: relative;
    top: -25px;
    left: -25px;
}

ul {
    list-style-type: none;
}

.spacer {
    height: 10px;
    width: 10px;
    margin: auto;
}

.negspacer {
    margin-top: -50px;
}

#poweredby {
    text-align: center;
    color: #fff;
    font-size: 0.8em;
    margin-top: -25px;
    margin-bottom: 35px;
}

#footer {
    text-align: center;
    vertical-align: bottom;
    height: 100px;
    color: #fff;
    font-size: 0.8em;
    margin-top: 100px;
}




/************Landing************/

.gender, .questionimage {
    border-radius: 25px;
    border: 3px solid black;
    overflow: hidden;
    margin: 25px;;
    height: 175px;
    width: 175px;
    padding: 12px 25px;
    -webkit-box-shadow: 3px 3px 4px #000;
    -moz-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
}

.gender {
    background-color: #ddd;
}

.gender:hover {
    background-color: #dd5555;
    cursor: pointer;
}

.gender img {
    display: block;
    margin: auto auto;
    vertical-align: middle;
}

h1 {
    text-align: center;
}
.genderheader {
    text-align: center;
    margin-bottom: -20px;
}

/********BMK Game*******************/
.questionimage {
    background-color: #000;
    position: relative;
}

.questionimage li {
    font-family: "PillGothic600mg-Light";
    color: #fff;
    bottom: 5px;
    left: 0px;
    width: 225px;
    background-color: rgba(25, 25, 25,0.7);
}

.questionimage span {
    font-family: PillGothic600mg-Light;
    position: absolute;
    color: #fff;
    bottom: 5px;
    left: 0px;
    width: 225px;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    padding: 5px;
}

.bangmarrykill {
	text-align: left;
}
.bangmarrykill ul {
	display: list-item;
	margin-top: -13px;
	margin-left: -25px;
	width: 200px
}

.bangmarrykill ul li{
	font-family: "PillGothic600mg-Light";
    color: #fff;
    background-color: rgba(25, 25, 25,0.7);
    border-radius: 5px;
    margin: 5px auto 0 50px;
    padding: 33px 47px;
    font-size: 1.3em;
	height: 40px;
}

.bangmarrykill ul li span {
	margin-top: 20px;
}

.bangmarrykill input {
    margin: 0 11px;
    display: none;
}

.bangmarrykill li:hover {
    background-color: rgb(70, 70, 70);
}

.bangmarrykill .active {
	background-color: rgb(70, 70, 70);
}

#next_button, #vote_button {
	background-color: rgba(25, 25, 25,0.7);
    padding: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 3px 3px 4px #000;
    -moz-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
	text-align: center;
    color: #fff;
	border: 3px solid black;
	padding: 20px;
	font-size: 2em;
}

#next_button:hover, #vote_button:hover {
	cursor: pointer;
    border: 3px solid gray;

}

span input {
	margin: 15px;
	font-size: 1.3em;
}
/************Leader Board **********/

.statlist{
    display: inline-block;
    width: 225px;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

.statlist ul li img {
    width: 75px;
    height: 75px;
    border-radius: 15px;
    border: 2px solid black;
    margin: 5px;
    -webkit-box-shadow: 3px 3px 4px #000;
    -moz-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
}

.statlist ul li {
    position: relative;
    left: -65px;
}

.statlist ul li span {
    color: #fff;
    width: 175px;
    position: absolute;
    bottom: 30px;
}


/*************The End*************/

#nextround, .leaders {
	border-radius: 15px;
	border: 3px solid black;
	background-color: rgba(25, 25, 25,0.7);
	margin: 0px 25px 25px 25px;
	padding: 35px 5px 0 5px;
	width: 175px;
	height: 145px;
}

#nextround a, .leaders a {
	text-align: center;
    color: #fff;
	text-decoration: none;
}

#nextround:hover, .leaders:hover {
    cursor: pointer;
    border: 3px solid gray;
}


.more input, .more textarea {
    border: 3px solid black;
    font-family: PillGothic600mg-Bold;

}

.more textarea {
	margin: 0 25px;
    width: 175px;
	height: 130px;
	font-size: 0.9em;
    border-radius: 10px;
    padding: 5px;
	background-color: rgba(255,255,255,0.7);
}


.more input.email{
    height: 2em;
    width: 125px;
    text-align: center;
    border-radius: 10px;
	background-color: rgba(255,255,255,0.7);
    font-family: PillGothic600mg-Bold;
}

.more input.submit{
    padding: 6px;
    color: #fff;
    margin-left: 7px;
    border-radius: 10px;
    font-family: PillGothic600mg-Bold;
    background-color: rgba(25, 25, 25,0.7);

}

.more input.submit:hover{
    border: 2px solid gray;
    cursor: pointer;
}

.share {
    margin-top: 30px;
    margin-right: 38px;
    width: 225px;
	display: inline-block;
}

.blockspacer {
    margin-bottom: 50px;
}

.share img {
    opacity: 0.8;
}

.share img:hover {
    opacity: 1.0;
    cursor: pointer;
}

.play {
    background-color: #000;
    border-radius: 15px;
    border: 3px solid black;
    overflow: hidden;
    margin: 10px 10px 10px 25px;
    height: 120px;
    width: 150px;
    -webkit-box-shadow: 3px 3px 4px #000;
    -moz-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
}

.play img {
 	height: 120px;
}

.play:hover{
    cursor: pointer;
    border: 3px solid gray;
}


