/****Global Fonts****/
@font-face {
  font-family: "PillGothic600mg-Bold";
  src: url('/assets/fonts/Pill/PillGothic600mg-Bold.ttf');
}
@font-face {
  font-family: "PillGothic600mg-Light";
  src: url('/assets/fonts/Pill/PillGothic600mg-Light.ttf');
}
@font-face {
  font-family: "PillGothic600mg-BoldObq";
  src: url('/assets/fonts/Pill/PillGothic600mg-BoldObq.ttf');
}
@font-face {
  font-family: "PillGothic600mg-LightObq";
  src: url('/assets/fonts/Pill/PillGothic600mg-LightObq.ttf');
}
@font-face {
  font-family: "PillGothic600mg-Regular";
  src: url('/assets/fonts/Pill/PillGothic600mg-Regular.ttf');
}