#header
  %h1.title
    = site_name
  #poweredby
    %p
      powered by
      %a{href: "http://socialcrunch.com"}
        %img{style: "margin-bottom: -11px", src:"/assets/logowhitetext.png", alt: "SocialCrunch"}
  